<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
#from django.core.urlresolvers import reverse
from microsite_configuration import microsite
%>

<section class="home">
  <header style="background-image: url(${category_bg_url})">
    <div class="outer-wrapper">
      <div class="title">
        <hgroup>
              <h1>${category_name}</h1>
        </hgroup>
      </div>
    </div>
  </header>

  <section class="courses-container">
  % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
    <section class="courses">
        <ul class="courses-listing">
        %for course in courses:
          <li class="courses-listing-item">
            <%include file="course.html" args="course=course" />
          </li>
        %endfor
        </ul>
    </section>
  % endif
  </section>
</section>
